    <style>
section {
    padding-left: 80px;
}
</style>
<section>

    <!-- Page Header -->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>A Place to Buy Books</h1>
              <span class="subheading">Today's Features</span>
            </div>
          </div>
        </div>
      </div>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Top Kid's Release: </h2>
            <p class="lead">Diary of a Wimpy Kid The Getaway</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="/assets/KidRelease.jpg" alt="">
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Best Selling Book:</h2>
            <p class="lead">Harry Potter and the Cursed Child, Parts 1 & 2</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="/assets/BestRelease.jpg" alt="">
          </div>
        </div>
      </div>
      <!-- /.container -->

    </section>

        <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Latest Release: </h2>
            <p class="lead">Hamilton: The Revolution</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="/assets/The_Revolution.jpg" alt="">
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>

        <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Highest Rating: </h2>
            <p class="lead">Leonardo da Vinci</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="/assets/DaVinci.jpg" alt="">
          </div>
        </div>
      </div>
      <!-- /.container -->

    </section>
</section>
