<h1>Order <%=@order.id%></h1>
<table>
  <tbody>
  	<th>Quantity</th>
  	<th>Cover</th>
  	<th>Title</th>
  	<th>Categories</th>
  	<th>Authors</th>
  	<th>Publishers</th>
  	<th>Pages</th>
  	<th>Price</th>
  	<th>Total</th>
    <% @order.order_items.each do |oi| %>
      <tr>
         <%= render "book_show", order_item: oi %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', invoices_path, class: "btn btn-danger" %>
