
 <div id="books-index">
 	<%= @books.each_slice(4) do |book|  %>
    <h1 class="my-4">Books</h1>


    	<div class="row">
    	<% @books.categories.name == catagory.name do |book| %>
			<div class="col-md-3 col-sm-3">
				<h3><%= book.title %></h3></br>
              <%= image_tag book.cover.url(:medium) %>

      		<%= render "book_row", book: book, order_item: @order_item %>
      	</div>
    	<% end %>
    	</div>

    	<% end %>

</div>